.Card{
  text-align: center;
  width: 350px;
   height: auto;
   margin: 0px;
   border: 1px solid black;
   background: white;
   padding-top: 7px;
   padding-right: 50px;
   padding-bottom: 50px;
   padding-left: 50px;
   margin-left:7%;
   margin-top: 2%;
   border-radius: 50px ;
   background-color: #E0FFFF;
}
.btn{
  text-align: center;
}
.bio{
  color: #000080;
}
.pro{
  color:#000080 ;
}
.name{
  color: #000080;
}
